{
  "check-coverage": false,
  "source-map": false,
  "per-file": false,
  "lines": 65,
  "statements": 65,
  "functions": 43,
  "branches": 9,
  "include": [
    "src/*.js"
  ],
  "reporter": [
    "html"
  ]
}
